# 服务器配置
PORT=3500
READ_TIMEOUT=30000
WRITE_TIMEOUT=30000

# MySQL配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_DATABASE=sandbox
MYSQL_MAX_CONNECTIONS=10
MYSQL_CONN_TIMEOUT=30000
MYSQL_READ_TIMEOUT=10000
MYSQL_WRITE_TIMEOUT=10000

# Redis配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

# 故障配置
CPU_FAULT_DEFAULT_DURATION=200
LATENCY_FAULT_DEFAULT_DELAY=200
LATENCY_FAULT_MAX_DELAY=5000
REDIS_FAULT_DEFAULT_DELAY=100
REDIS_FAULT_MAX_DELAY=2000

# Toxiproxy配置
ENABLE_TOXIPROXY=false
